.container {
  display: flex;
  flex-direction: column;
  height: 100%;
  max-width: 1150px;
  width: 100%;
  padding: 0 20px;
  margin: 0 auto;
  justify-content: space-between;

  .main {
    flex: 1 0 auto;
    margin-top: 47px;
    &Wrap {
      display: flex;
    }
  }
  @media (max-width: 768px) {
    padding: 0 64px;
    .main {
      margin-top: 32px;
    }
  }
  @media (max-width: 420px) {
    padding: 0 16px;
    .main {
      margin-top: 8px;
    }
  }
}
