@import 'src/theme/fonts';
@import 'src/theme/variables';

// .card {
//   display: flex;
//   flex-direction: column;
//   align-items: flex-start;
//   max-width: 190px;
//   width: 100%;
//   padding: 8px 8px 16px 8px;
//   box-shadow: 0px 2px 4px rgba(191, 196, 201, 0.2), 0px 3px 4px rgba(191, 196, 201, 0.18),
//     0px 1px 5px rgba(191, 196, 201, 0.24);
//   border-radius: 10px;

//   &Img {
//     border: 1px solid $grey2;
//     border-radius: 10px;
//     width: 174px;
//     height: 242px;
//   }

//   &Score {
//     margin: 16px 0;
//     height: 24px;
//     width: 100%;
//     @include desktopBodySmall;
//     color: $grey2;
//   }
//   &TitleWrap {
//     height: 54px;
//     width: 100%;
//     display: flex;
//     align-items: center;
//   }
//   &Title {
//     @include subtitleSmall;

//     -ms-text-overflow: ellipsis;
//     -o-text-overflow: ellipsis;
//     text-overflow: ellipsis;
//     overflow: hidden;
//     -ms-line-clamp: 3;
//     -webkit-line-clamp: 3;
//     line-clamp: 3;
//     display: -webkit-box;
//     display: box;
//     word-wrap: break-word;
//     -webkit-box-orient: vertical;
//     box-orient: vertical;
//   }

//   &AuthWrap {
//     height: 36px;
//     width: 100%;
//     margin-bottom: 16px;
//     display: flex;
//     align-items: center;
//   }

//   &Author {
//     @include desktopBodySmall;
//     color: $grey2;

//     -ms-text-overflow: ellipsis;
//     -o-text-overflow: ellipsis;
//     text-overflow: ellipsis;
//     overflow: hidden;
//     -ms-line-clamp: 2;
//     -webkit-line-clamp: 2;
//     line-clamp: 2;
//     display: -webkit-box;
//     display: box;
//     word-wrap: break-word;
//     -webkit-box-orient: vertical;
//     box-orient: vertical;
//   }
//   &WrapButton {
//     width: 100%;
//   }
//   &Button {
//     margin: 0 auto;
//   }

//   &List {
//     display: flex;
//     box-shadow: 0px 2px 4px rgba(191, 196, 201, 0.2), 0px 3px 4px rgba(191, 196, 201, 0.18),
//       0px 1px 5px rgba(191, 196, 201, 0.24);
//     border-radius: 12px;
//     padding: 24px 24px 24px 16px;
//     gap: 16px;
//   }

//   &ImgList {
//     width: 120px;
//     height: 170px;
//     border: 1px solid $grey2;
//     border-radius: 3px;
//   }

//   &MainWrapList {
//     display: flex;
//     flex-direction: column;
//     width: 100%;
//     justify-content: space-between;
//   }

//   &MainList {
//     width: 100%;
//     display: flex;
//     flex-direction: column;
//     justify-content: space-between;
//   }

//   &TitleWrapList {
//     @include desctopH5;
//     -ms-text-overflow: ellipsis;
//     -o-text-overflow: ellipsis;
//     text-overflow: ellipsis;
//     overflow: hidden;
//     -ms-line-clamp: 2;
//     -webkit-line-clamp: 2;
//     line-clamp: 2;
//     display: -webkit-box;
//     display: box;
//     word-wrap: break-word;
//     -webkit-box-orient: vertical;
//     box-orient: vertical;
//     margin-bottom: 8px;
//   }

//   &AuthorList {
//     @include bodyLargDesc;
//     color: $grey2;
//   }
//   &WrapButtonList {
//     display: flex;
//     align-items: center;
//     justify-content: space-between;
//   }

//   &Footer {
//     display: flex;
//     align-items: center;
//     justify-content: space-between;
//   }
//   &ScoreList {
//     width: 100%;
//     @include desktopBodySmall;
//     color: $grey2;
//   }
//   &ButtonList {
//     width: 174px;
//   }

//   &Date {
//     color: $main;
//     text-transform: uppercase;
//     @include desctopH4;
//   }

//   @media (max-width: 770px) {
//     &Score {
//       margin-top: 16px;
//       margin-bottom: 25px;
//     }
//     &TitleWrap {
//       height: 36px;
//       margin-bottom: 17px;
//     }
//     &Title {
//       @include desctopH4;

//       -ms-line-clamp: 2;
//       -webkit-line-clamp: 2;
//       line-clamp: 2;
//     }

//     &AuthWrap {
//       height: 18px;
//       margin-bottom: 28px;
//       overflow: hidden;
//     }
//     &Author {
//       -ms-text-overflow: ellipsis;
//       -o-text-overflow: ellipsis;
//       text-overflow: ellipsis;
//       overflow: hidden;
//       -ms-line-clamp: 1;
//       -webkit-line-clamp: 1;
//       line-clamp: 1;
//       display: -webkit-box;
//       display: box;
//       word-wrap: break-word;
//       -webkit-box-orient: vertical;
//       box-orient: vertical;
//     }
//     &TitleWrapList {
//       @include desctopH4;
//     }
//     &ImgList {
//       height: 172px;
//     }
//     &Date {
//       @include text;
//     }
//   }
//   @media (max-width: 634px) {
//     &Footer {
//       flex-direction: column;
//       align-items: flex-end;
//     }
//     &List {
//       padding: 16px 16px 16px 8px;
//       gap: 8px;
//     }
//     &ImgList {
//       width: 70px;
//       height: 100px;
//     }
//     &TitleWrapList {
//       @include subtitleSmall;
//       margin-bottom: 3px;
//     }
//     &AuthorList {
//       @include modileBodySmall;
//       margin-bottom: 3px;
//     }
//     &ScoreList {
//       height: 16px;
//     }
//     &ScoreIcon {
//       height: 16px;
//     }
//   }

//   @media (max-width: 556px) {
//     &WrapButtonList {
//       flex-direction: column;
//       align-items: flex-start;
//       gap: 16px;
//     }
//     &ScoreListIcon {
//       height: 16px;
//       width: 16px;
//     }
//   }
//   @media (max-width: 420px) {
//     max-width: 288px;
//     padding: 8px 16px 16px 16px;
//     &Img {
//       margin: 0 auto;
//     }
//     &TitleWrap {
//       height: 43px;
//       width: 100%;
//       margin-bottom: 8px;
//     }
//     &Title {
//       @include subtitleSmall;
//       -ms-line-clamp: 3;
//       -webkit-line-clamp: 3;
//       line-clamp: 3;
//     }

//     &AuthWrap {
//       height: 36px;
//       margin-bottom: 10px;
//     }

//     &Author {
//       -ms-line-clamp: 2;
//       -webkit-line-clamp: 2;
//       line-clamp: 2;
//     }
//     &Button {
//       margin: 0;
//       width: 100%;
//       justify-content: center;
//     }
//   }
//   @media (max-width: 350px) {
//     &WrapButtonList {
//       width: 100%;
//     }
//     &ButtonList {
//       width: 100%;
//     }
//   }
// }

.card {
  display: flex;
  box-shadow: 0px 2px 4px rgba(191, 196, 201, 0.2), 0px 3px 4px rgba(191, 196, 201, 0.18),
    0px 1px 5px rgba(191, 196, 201, 0.24);
  border-radius: 12px;
  padding: 24px 24px 24px 16px;
  gap: 16px;

  &ImgList {
    width: 120px;
    height: 170px;
    border: 1px solid $grey2;
    border-radius: 3px;
  }

  &MainWrapList {
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: space-between;
  }

  &MainList {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  &TitleWrapList {
    @include desctopH5;
    -ms-text-overflow: ellipsis;
    -o-text-overflow: ellipsis;
    text-overflow: ellipsis;
    overflow: hidden;
    -ms-line-clamp: 2;
    -webkit-line-clamp: 2;
    line-clamp: 2;
    display: -webkit-box;
    display: box;
    word-wrap: break-word;
    -webkit-box-orient: vertical;
    box-orient: vertical;
    margin-bottom: 8px;
  }

  &AuthorList {
    @include bodyLargDesc;
    color: $grey2;
  }
  &WrapButtonList {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &ScoreList {
    width: 100%;
    @include desktopBodySmall;
    color: $grey2;
  }

  &Date {
    color: $main;
    text-transform: uppercase;
    @include desctopH4;
  }

  @media (max-width: 770px) {
    &TitleWrapList {
      @include desctopH4;
    }
    &ImgList {
      height: 172px;
    }
    &Date {
      @include text;
    }
  }
  @media (max-width: 634px) {
    &List {
      padding: 16px 16px 16px 8px;
      gap: 8px;
    }
    &ImgList {
      width: 70px;
      height: 100px;
    }
    &TitleWrapList {
      @include subtitleSmall;
      margin-bottom: 3px;
    }
    &AuthorList {
      @include modileBodySmall;
      margin-bottom: 3px;
    }
    &ScoreList {
      height: 16px;
    }
  }

  @media (max-width: 556px) {
    &WrapButtonList {
      flex-direction: column;
      align-items: flex-start;
      gap: 16px;
    }
    &ScoreListIcon {
      height: 16px;
      width: 16px;
    }
  }
  @media (max-width: 420px) {
    padding: 8px 16px 16px 16px;
  }
}

.modal {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;

  &BtnWrap {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 16px;
    margin-top: 32px;
  }
  &Btn {
    padding: 14px 0;
    width: 100%;
    @include buttonLarg;
  }
  @media (max-width: 454px) {
    &BtnWrap {
      margin-top: 24px;
    }
    &Btn {
      padding: 11px 0;
      @include buttonSmall;
    }
  }
}
