.container {
  display: flex;
  flex-direction: column;
  min-height: 100%;
  width: 100%;
  justify-content: space-between;

  &Lan {
    max-width: 1150px;
    width: 100%;
    padding: 0 20px;
    margin: 0 auto;
  }
  .main {
    flex: 1 1 auto;
    margin-top: 27px;
    margin-bottom: 42px;

    &Wrap {
      display: flex;
    }
  }

  @media (max-width: 768px) {
    &Lan {
      padding: 0 64px;
    }
    .main {
      margin-top: 24px;
      margin-bottom: 48px;
    }
  }
  @media (max-width: 420px) {
    &Lan {
      padding: 0 16px;
    }
    .main {
      margin-top: 8px;
      margin-bottom: 20px;
    }
  }
}
